## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

## Calculating `the_force`

We start by importing the necessary libraries and data.

In [1]:

import pandas as pd
import numpy as np

lego_sets = pd.read_csv("datasets/lego_sets.csv")
parent_themes = pd.read_csv("datasets/parent_themes.csv")

Next, we inspect them using the `.head()` and `.info()` methods.

In [2]:
display(lego_sets.head())
display(parent_themes.head())

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [3]:
lego_sets.info()
print('\n') # avoiding collision
parent_themes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11986 non-null  int64
 3   num_parts     6926 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11986 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 374.6+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           111 non-null    int64
 1   name         111 non-null    object
 2   is_licensed  111 non-null    bool
dtypes: bool(1), int64(1), object(1)
memory usage: 1.5+ KB

Let's clean our data a bit by dropping the duplicate/invalid sets!

In [4]:
lego_sets_nona = lego_sets.dropna(subset=['set_num'])

Subsetting licensed sets using the `parent_themes` dataframe:

In [5]:
parents_licensed = parent_themes[parent_themes['is_licensed'] == True]
parents_licensed.head()

     id                      name  is_licensed
7   158                 Star Wars         True
12  246              Harry Potter         True
16  263  Pirates of the Caribbean         True
17  264             Indiana Jones         True
18  269                      Cars         True

Separating lego sets with licensed themes from the previous step:

In [6]:
lego_sets_licensed = lego_sets_nona[lego_sets_nona['parent_theme'].isin(parents_licensed['name'])]
lego_sets_licensed.head()

,set_num,name,year,num_parts,theme_name,parent_theme
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes

Now we can easily find `the_force`!

In [7]:
star_wars_themed_sets = sum(lego_sets_licensed['parent_theme'] == 'Star Wars')
total_licensed = len(lego_sets_licensed)

the_force = int(star_wars_themed_sets / total_licensed * 100)
the_force

51

## Calculating `new_era`

Since we already have a dataframe containing our licensed themes, we can easily use the steps below to calculate `new_era`ðŸ˜‰.

In [8]:
lego_sets_licensed.groupby('year')['parent_theme'].describe()

     count unique           top freq
year
1999    13      1     Star Wars   13
2000    31      2     Star Wars   26
2001    25      2     Star Wars   14
2002    50      3     Star Wars   28
2003    40      3     Star Wars   32
2004    40      3     Star Wars   20
2005    35      4     Star Wars   28
2006    24      4     Star Wars   11
2007    21      4     Star Wars   16
2008    43      4     Star Wars   23
2009    48      3     Star Wars   39
2010    63      5     Star Wars   30
2011    81      6     Star Wars   32
2012   109      7     Star Wars   43
2013    86      6     Star Wars   35
2014    99      6     Star Wars   45
2015   107      7     Star Wars   58
2016   121      8     Star Wars   61
2017   143      5  Super Heroes   72

In [9]:
top_sets = lego_sets_licensed.groupby('year')['parent_theme'].describe()['top']
new_era = top_sets[top_sets != 'Star Wars'].index[0]
new_era

2017